body,html{
	margin: 0px;
	position: relative;
	height: 100%;
	overflow: hidden;
}
.swiper-container{
	height: 100%;
}
.swiper-container .swiper-slide{
	position: relative;
	height: 100%;
}
.swiper-container .swiper-slide:nth-child(2){
	margin-bottom: 0px !important;
	padding-bottom: 30px;
}
.swiper-slide img{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d; 
}

/*------第一屏-------*/
.swiper-container .swiper-slide:nth-child(1) img:nth-child(1){
    transform: translateX(-91%) translateY(-92%);
    width: 24%;
}
.swiper-container .swiper-slide:nth-child(1) img:nth-child(2){
    transform: translate(18%,-67%);
    width: 19%;
}
.swiper-container .swiper-slide:nth-child(1) img:nth-child(3){
    transform: translate(-490%,210%);
    width: 8%;
}
.swiper-container .swiper-slide:nth-child(1) img:nth-child(4){
    transform: translate(357%,76%);
    width: 8%;
}
.swiper-container .swiper-slide:nth-child(1) img:nth-child(5){
    transform: translate(1475%,-38%);
    
    width: 3%;
}

/*-----渐进渐隐-----*/
.swiper-container .swiper-slide:nth-child(1){
	animation: fadeOut 1.5s both;
}
.swiper-container .swiper-slide:nth-child(1).active{
	animation: fadeIn 0.1s both;
}

/*------第一屏动画------*/
.swiper-container .swiper-slide:nth-child(1).active img:nth-child(1){
  animation: leftIn 1.5s both;
  animation-timing-function:cubic-bezier(0.85,0,0.85,0);
}
.swiper-container .swiper-slide:nth-child(1).active img:nth-child(2){
  animation: rightIn 1.5s both;
  animation-timing-function:cubic-bezier(0.85,0,0.85,0);
}
.swiper-container .swiper-slide:nth-child(1).active img:nth-child(3){
  animation: downUp 1.5s 0.7s both;
}
.swiper-container .swiper-slide:nth-child(1).active img:nth-child(4){
  animation: downUp 1.5s 0.5s both;
}
.swiper-container .swiper-slide:nth-child(1).active img:nth-child(5){
  animation: downUp 1.5s 0.7s both;
}


/*------第二屏-------*/
.swiper-container .swiper-slide:nth-child(2){
	background-color: #1333fa;
}
.swiper-container .swiper-slide:nth-child(2) img:nth-child(1){
    transform: translateX(-806%) translateY(-70%);
    width: 2.48%;
}
.swiper-container .swiper-slide:nth-child(2) img:nth-child(2){
    transform: translateX(-50%) translateY(-70%);
    width: 15%;
}
.swiper-container .swiper-slide:nth-child(2) img:nth-child(3){
    transform: translateX(105%) translateY(-70%);
    width: 13.2%;
}
.swiper-container .swiper-slide:nth-child(2) img:nth-child(4){
    transform: translateX(-163%) translateY(-2000%);
    width: 8%;
}
.swiper-container .swiper-slide:nth-child(2) img:nth-child(5){
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    width: 18%;
}
.swiper-container .swiper-slide:nth-child(2) img:nth-child(6){
    transform: translateX(80%) translateY(2000%);
    width: 6.5%;
}
.swiper-container .swiper-slide:nth-child(2) img:nth-child(7){
    transform: translateX(-76%) translateY(600%);
    width: 50%;
}
.swiper-container .swiper-slide:nth-child(2) img:nth-child(8){
    transform: translateX(-3%) translateY(400%);
    width: 40%;
}
.swiper-container .swiper-slide:nth-child(2) img:nth-child(9){
   right: 0px;
   bottom: 0px;
   top: auto;
   left: auto;
   width: 12%;
}
.swiper-container .swiper-slide:nth-child(2) img:nth-child(10){
    transform: translateX(-2700%) translateY(-55%);
    width: 1.7%;
}

/*------第二屏动画-------*/
.swiper-container .swiper-slide:nth-child(2).active img:nth-child(1){
   animation: downUp 1.5s both;
}
.swiper-container .swiper-slide:nth-child(2).active img:nth-child(2){
   animation: downUp 1.5s 0.2s both;
}
.swiper-container .swiper-slide:nth-child(2).active img:nth-child(3){
   animation: downUp 1.5s 0.4s both;
}
.swiper-container .swiper-slide:nth-child(2).active img:nth-child(4){
     animation: leftIn 1.5s 0.3s both;
}
.swiper-container .swiper-slide:nth-child(2).active img:nth-child(5){
     animation: fadeIn 1.5s 0.3s both;
}
.swiper-container .swiper-slide:nth-child(2).active img:nth-child(6){
    animation: rightIn 1.5s 0.3s both;
}
.swiper-container .swiper-slide:nth-child(2).active img:nth-child(7){
     animation: rightIn 1.5s 0.3s both;
}
.swiper-container .swiper-slide:nth-child(2).active img:nth-child(8){
    animation: rightIn 1.5s 0.5s both;
}
.swiper-container .swiper-slide:nth-child(2).active img:nth-child(10){
    animation: downUp 1.5s 0.4s both;
}


/*------第三屏-------*/
.swiper-container .swiper-slide:nth-child(3) img:nth-child(1){
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
}
.swiper-container .swiper-slide:nth-child(3) img:nth-child(2){
    transform: translateX(-50%) translateY(600%);
    opacity: 0;
    width: 50%;
}
.swiper-container .swiper-slide:nth-child(3) img:nth-child(3){
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    width: 17%;
}
.swiper-container .swiper-slide:nth-child(3) img:nth-child(4){
    transform: translateX(29%) translateY(75%);
    width: 14%;
}
.swiper-container .swiper-slide:nth-child(3) img:nth-child(5){
    transform: translateX(-140%) translateY(-11%);
    width: 10%;
}
.swiper-container .swiper-slide:nth-child(3) img:nth-child(6){
    transform: translateX(0%) translateY(-226%);
    width: 14%;
}

/*-----第三屏动画-----*/

.swiper-container .swiper-slide:nth-child(3).active img:nth-child(2){
    animation: fadeIn 1.5s 0.5s both;
}
.swiper-container .swiper-slide:nth-child(3).active img:nth-child(3){
    animation: fadeIn 1.5s both;
}
.swiper-container .swiper-slide:nth-child(3).active img:nth-child(4){
    animation: leftIn 1.5s 0.3s both;
}
.swiper-container .swiper-slide:nth-child(3).active img:nth-child(5){
    animation: rightIn 1.5s 0.5s both;
}
.swiper-container .swiper-slide:nth-child(3).active img:nth-child(6){
    animation: leftIn 1.5s 0.7s both;
}




/*动画*/
@keyframes fadeIn{
  form{opacity: 0;}
  to{opacity: 1;}
}
@keyframes fadeOut{
  form{opacity: 1;}
  to{opacity: 0;}
}
@keyframes leftIn{
  0%{left: 0;opacity: 0;}
  100%{left: 50%;opacity: 1;}
}
@keyframes rightIn{
  0%{left: 100%;opacity: 0;}
  100%{left: 50%;opacity: 1;}
}
@keyframes downUp{
  0%{top: 100%;opacity: 0;}
  100%{top: 50%;opacity: 1;}
}
